*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    width:40%;
    height:auto;
    margin:10% 30%;
    /* background-image: url(./img/to-do-list.jpg); */
    background-size: 80%;;
    background-repeat: no-repeat;
    text-align:center;
}
header h1{
    color:brown;
    display:inline-block;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
    background: #ddd;
  }
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  } */







footer{
    text-align: center;
    /* display:inline-block; */
}
footer p{
    color:brown;
    /* font-size:1rem; */

}
footer span .checked{
    color:green;
    /* font-size:3rem; */
;} 
footer span .total{
    color: black;
    /* font-size:2rem; */
}
.add{
    display:flex;
    
}
button{
   float:right;
    width:40px;
    height:30px;
    font-size: 1.6rem;
    font-weight:900;
    box-shadow: rgb(121, 104, 104) ;
    color:indianred;
    padding-bottom:5px;
    
}
#main{
    display:flex;
    
}
ul{
display:grid;
grid-gap:1em;
width: 100%;

}
#my_check {
    float:left;
    display:grid;
    grid-gap:1.4em;
    margin-right:0.2em;
    

}
#my_del{
    float:right;
    display:grid;
    grid-gap:1.4em;
    margin-left:0.2em;
        
}
hr{
    color:rgba(165, 132, 42, 0.945);
    margin-top:1em;
    margin-bottom:1em;
    
}
#my_ul.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;}
  
  /* input[type=checkbox]:checked~ul#list__items {
    text-decoration: line-through;
    color: red;
  } */
  
 